.rightAlign{
    text-align: right;
    width: 50%;
    display: inline-block;
    font-size: 90%;
}

.leftAlign{
    text-align: left;
    width: 50%;
    display: inline-block;
    font-size: 90%;
}

.rightAlignP{
    text-align: right;
    color: black;
    font-size: 80%;
}

.leftAlignP{
    text-align: left;
    color: white;
    font-size: 80%;
}

.block{
    display: block
}

.hovering:hover{
    border-style: solid;
    border-color: black
}